<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Analyzer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/PageStyle.css" th:href="@{/PageStyle.css}" type="text/css"/>
</head>
<body>
<form method="post" th:object="${inputCode}">
    <div class="ioBlock">
        <textarea id="textarea" name="Code" th:utext="${inputCode.getCode()}"></textarea>
        <button type="submit">Check</button>
    </div>
    <div class="tableBox">
        <table class="countLines">
            <tr>
                <th colspan="3">Спен программы</th>
            </tr>
            <tr>
                <th>j</th>
                <th>Переменная</th>
                <th>Спен</th>
            </tr>
            <tr th:each="instance: ${spenTable}">
                <td></td>
                <td th:text="${instance.key}">smth</td>
                <td th:text="${instance.getValue().toString()}">smth</td>
            </tr>
            <tr>
                <th colspan="3" th:utext="${inputCode.getSumSpen()}"></th>
            </tr>
        </table>
        <table class="countLines">
            <tr>
                <th colspan="3">Полная метрика Чепина</th>
            </tr>
            <tr>
                <th>j</th>
                <th>Переменная</th>
                <th>Группа</th>
            </tr>
            <tr th:each="instance: ${chepinsTable}">
                <td></td>
                <td th:text="${instance.getName()}">smth</td>
                <td th:text="${instance.getVarType()}">smth</td>
            </tr>
        </table>
        <table class="countLines">
            <tr>
                <th colspan="3">Метрика Чепина ввода-вывода</th>
            </tr>
            <tr>
                <th>j</th>
                <th>Переменная</th>
                <th>Группа</th>
            </tr>
            <tr th:each="instance: ${chepinsIOTable}">
                <td></td>
                <td th:text="${instance.getName()}">smth</td>
                <td th:text="${instance.getVarType()}">smth</td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>